body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7bbfc270;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #28da90;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="radio"] {
    margin-right: 5px;
  }
  
  .form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .form-group button#clear-btn {
    background-color: #dc3545;
    margin-left: 10px;
  }
  
  #student-info {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  